@import "./Variables.scss";

.events-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .title {
    margin-top: 5vh;
    font-size: 2.5rem;
    background: linear-gradient(to bottom, #fffc08, #575506);
    opacity: 1;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .timeline {
    position: absolute;
    top: 20%;
    width: 70%;
  }

  .timeline a {
    color: red;
  }

  .timeline .event-title {
    color: grey;
    font-size: 3vw;
    margin-bottom: 10px;
  }

  .timeline .event-date {
    color: rgb(225, 169, 169);
    font-size: 3vw;
    margin-bottom: 10px;
  }

  .timeline .event-description {
    color: rgb(196, 202, 83);
    font-size: 3vw;
    margin-bottom: 10px;
  }

  .timeline .event-site {
    color: rgb(135, 222, 63);
    font-size: 3vw;
    margin-bottom: 10px;
  }

  .timeline ul {
    border-left: 3px solid #ffe838;
    border-radius: 1.8vw;
    margin: 0 auto;
    position: relative;
    padding: 5vw;
    list-style: none;
    text-align: center;
    width: 100%;
    left: 5vw;
    margin-bottom: 3vh;
  }

  .timeline .date {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 2vw;
    padding-bottom: 1vw;
    margin-left: 1.1vw;
    position: relative;
  }

  .timeline .date:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
  }

  .timeline .date::before,
  .timeline .date::after {
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
  }

  .timeline .date::before {
    content: attr(data-date);
    left: -25vw;
    width: 9vw;
    text-align: right;
  }

  .timeline .date::after {
    content: "";
    box-shadow: 0 0 0 2px #fd57bf;
    border-radius: 100%;
    left: -7.1vw;
    height: 2vw;
    width: 2vw;
    background-color: #313534;
  }
}

@media screen and (min-width: 768px) {
  .events-container {
    .timeline .event-title {
      font-size: 2vw;
    }

    .timeline .event-date {
      font-size: 2vw;
    }

    .timeline .event-description {
      font-size: 2vw;
    }

    .timeline .event-site {
      font-size: 2vw;
    }
  }
}

@media screen and (min-width: 1201px) {
  .events-container {
    .timeline {
      width: 40%;
    }

    .timeline ul {
      border-radius: 1.8vw;
      padding: 2vw;
      list-style: none;
      text-align: center;
      width: 100%;
      left: 5vw;
      margin-bottom: 3vh;
    }

    .timeline .date::after {
      left: -3.9vw;
      height: 1.5vw;
      width: 1.5vw;
    }

    .timeline .event-title {
      font-size: 1vw;
    }

    .timeline .event-date {
      font-size: 1vw;
    }

    .timeline .event-description {
      font-size: 1vw;
    }

    .timeline .event-site {
      font-size: 1vw;
    }
  }
}
