@import "./Variables.scss";

.home-container {
  padding: 100px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .title {
    padding-bottom: 300px;
  }
}
