@import "./styles/Variables.scss";

.app {
  background-color: $background-global;
  font-family: $main-font;
  font-weight: bold;
  height: 100%;

  .full-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
